<h1>Boas-vindas à Task List!</h1>
<h3>Sua lista de tarefas: </h3>

<% @tasks.each do |task| %>
  <%= "- #{task.description}" %>
  <%= link_to 'Editar', edit_task_path(task) %>
  <%= link_to 'Excluir', task_path(task), method: :delete,
      data: {confirm: 'Tem certeza que deseja excluir essa tarefa?'} %><br>
<% end %>

